@page "/notes"
@inject IWordService WordService;

<PageTitle>Notes</PageTitle>

<link rel="stylesheet" href="~/css/app.css"/>
<div class="bd-main-interface">
    <div class="interface-header container-fluid text-end bg-light-gray">
        <div class="display-6 fw-semibold me-4">Notes</div>
    </div>
    <div class="pt-4">
        <div class="container-fluid d-flex mb-4" id="toolbar">
            <div class="btn-toolbar" role="toolbar" aria-label="SearchBar" >
                <div class="input-group">
                        <input type="text" class="form-control rounded-pill" placeholder="Search" aria-label="Searchbar"  style="width: 20em;">
                </div>
            </div>
        </div>
        <div class="container-fluid row flex-row d-flex pt-3">
            <div class="col list-group list-group-flush" style="overflow-y: scroll; height: 48rem;">
                <!--Note Subjects Here-->
                @{
                    for(int i = 0; i < 100; i++)
                    {
                        var title = $"Untitiled {i.ToString("000")}";
                        <button class="list-group-item text-start p-2 search-entry">
                            <div class="data-time fs-6 text-muted">Created On: @DateTime.Now.Date.ToLongDateString()</div>
                            <h3 class="fs-3 fw-semibold pt-2">@title</h3>
                            <h4 class="fs-4 text-truncate text-muted">@title</h4>
                            <!--Note Tags-->
                            @{
                                for(int j = 0; j < MockTags.Length; j++)
                                {
                                    <div class="badge rounded-pill bg-gray ms-1 me-1">@MockTags[j]</div> 
                                }
                            }
                        </button>
                    }
                }
            </div>

        </div>
    </div>
</div>

@code {
    //Mock Tags and Value
    public string[] MockTags = {
        "Unity",
        "C#",
        "Entrepeneurship"
    };

    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Notes");
    }
}