@page "/word-list"
@inject IWordService WordService;

<link rel="stylesheet" href="~/css/app.css"/>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
     <symbol id="trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
     </symbol>
     <symbol id="edit" viewBox="0 0 16 16">
         <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
     </symbol>
</svg>
<div class="bd-main-interfaces">
    <div class="interface-header container-fluid text-end bg-light-gray">
        <div class="display-6 fw-semibold me-4">Word List</div>
    </div>
    <div class="bd-interface-body container-fluid p-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-md-start">
            @for(int i = 0; i < 100; i++)
            {
                <div class="col p-2">
                    <div class="card rounded">
                        <div class="card-header">
                            <h3 class="fs-5 fw-semibold">Word List Title</h3>
                            </div>
                            <div class="card-body">
                                Total Words: @Random.Shared.Next(2460)
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary float-end me-2">View</button>
                                <button class="btn btn-primary float-end ms-2 me-2">
                                    <svg class="bi" role="img" aria-label="Edit" width="16" height="16" fill="currentColor">
                                        <use xlink:href="#edit"></use>
                                    </svg>
                                </button>
                                <button class="btn btn-danger float-end ms-2">
                                    <svg class="bi" role="img" aria-label="Delete" width="16" height="16" fill="currentColor">
                                        <use xlink:href="#trash"></use>
                                    </svg>
                                </button>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Word List");
    }
}
