@page "/word-list"
@inject IWordService WordService;

<link rel="stylesheet" href="~/css/app.css"/>
<div class="bd-main-interfaces">
    <div class="interface-header container-fluid text-end bg-light-gray">
        <div class="display-6 fw-semibold me-4">Word List</div>
    </div>
    <div class="bd-interface-body container-fluid p-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-md-start">
            @for(int i = 0; i < 100; i++)
            {
                <div class="col p-2">
                    <div class="card rounded shadow">
                        <div class="card-header con">
                            <h3 class="fs-5 fw-semibold">Word List Title</h3>
                            <i class="bi bi-heart"></i>
                        </div>
                        <div class="card-body">
                            Total Words: @Random.Shared.Next(2460)
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-end me-2">View</button>
                            <button class="btn btn-primary float-end ms-2 me-2">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-danger float-end ms-2">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Word List");
    }
}
