@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="bd-main-interface">
    <link rel="stylesheet" href="~/css/app.css"/>
    <main class="bd-interface-body justify-content-md-center">
        <!--Word of the day and statistics of how many words exist of each category.-->
        <div class="container-fluid" id="top-section">
            <div class="row flex-row pb-4">
                <div class="col-lg-4" id="word-of-the-day">
                    <div class="card m-4 text-center text-muted h-100">
                        <div class="card-header">
                            <h2>Word of the Day</h2>
                        </div>
                        <div class="card-body">
                            <div id="new-word">
                                <p class="display-5">TBD</p>
                                <p class="display-6">There is no definition for this word.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card m-4 text-center text-muted h-100">
                        <div class="card-header">
                            <h2>Stats</h2>
                        </div>
                        <div class="card-body">
                            <!--Show all Stats Here-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-lg-auto pt-2">
                <div class="card m-4 text-center text-muted" style="height: 40vh;">
                    <div class="card-header">
                        <h4 class="float-start">Recent Searches</h4>
                    </div>
                    <div class="card-body" style="overflow-y: scroll;">
                        <ul class="list-group list-group-flush" id="search-list">
                            @{
                                for(int i =0; i < 100; i++)
                                {
                                    <button class="list-group-item text-start search-entry">
                                        <p class="text-start ms-3">Search Entry @i</p>
                                    </button>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Dashboard");
    }
}