@page "/word-list"

<link rel="stylesheet" href="~/css/app.css"/>
<div class="bd-main-interface">

</div>

@code {
    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Word List");
    }
}
