page {
    width: 100vh;
    height: 100%;
}

a.menu-selection {
    display: block;
    position: relative;
    text-decoration: none !important;
    color: currentColor;
}

menu-selection h4 {
    color: currentColor;
}

.menu-selection:hover {
    animation-name: menu-item-on-hover;
    animation-direction: normal;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.menu-selection:not(:hover) {
    animation-name: menu-item-out;
    animation-direction: normal;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

div.bd-main-interface {
    padding: 1rem 1vh;
}

div.interface-header {
    padding: 1vh 0px;
}

/*Color Classes*/
.bg-light-gray {
    background-color: #eee;
}

.bg-gray {
    background-color: #888;
}

.bg-dark-gray {
    background-color: #222;
}

/*Keyframe Animations*/
@keyframes menu-item-on-hover {
    0% {
        color: currentColor;
        padding-left: 0px;
        top: 0px;
    }

    100% {
        color: white;
        padding-left: 1rem;
        top: 0px;
    }
}

@keyframes menu-item-out {
    0% {
        color: white;
        padding-left: 1rem;
        top: 0px;
    }

    100% {
        color: currentColor;
        padding-left: 0px;
        top: 0px;
    }
}
