@inherits LayoutComponentBase
@inject AppState _AppState;
@implements IDisposable;

<div class="page justify-content-md-center">
<!--Title Header-->
    <div class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" style="fill: white;" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle Navigation" @onclick="OnShowOffcanvasClick">
                <span class="navbar-toggler-icon"/>
            </button>
        </div>
    </div>
    <div class="interface-header container-fluid text-end bg-light-gray">
        <div class="display-6 fw-semibold me-4">@_AppState.CurrentViewName</div>
    </div>

    <Offcanvas @ref="offcanvas"
        Title="Main Menu"
        Placement="Placement.Start"
        ElementId="mainMenu"
        TabIndex="-1"
        Class="offcanvas-dark bg-dark text-muted">
        <HeaderTemplate>
            <h3 class="offcanvas-title text-white" id="mainMenuLabel">Main Menu</h3>
            <button type="button"
                    class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </HeaderTemplate>
        <BodyTemplate>
            <div class="row flex-row justify-content-sm-center">
                <div class="container-fluid d-inline-flex">
                    <a class="ms-2 mb-4 fs-4 menu-selection" href="">Dashboard</a>
                </div>
            </div>
            <div class="row flex-row justify-content-sm-center">
                <div class="container-fluid d-inline-flex">
                    <a class="ms-2 mb-4 fs-4 menu-selection" href="search">Search</a>
                </div>
            </div>
            <div class="row flex-row justify-content-sm-center">
                <div class="container-fluid d-inline-flex">
                    <a class="ms-2 mb-4 fs-4 menu-selection" href="grammar">Grammar</a>
                </div>
            </div>
            <div class="row flex-row justify-content-sm-center">
                <div class="container-fluid d-inline-flex">
                    <a class="ms-2 mb-4 fs-4 menu-selection" href="word-list">List</a>
                </div>
            </div>
            <div class="row flex-row justify-content-sm-center">
                <div class="container-fluid d-inline-flex">
                    <a class="ms-2 mb-4 fs-4 menu-selection" href="preferences">Preferences</a>
                </div>
            </div>
        </BodyTemplate>
    </Offcanvas>

    <main class="flex-shrink-0">
        @Body
    </main>
</div>

@code {
    private static MainLayout? Instance;

    private Offcanvas? offcanvas;

    public static void ChangeHeaderName(string newName)
    {
        Instance?._AppState.SetName(newName);
    }

    protected override void OnInitialized()
    {
        Instance = this;
        _AppState.StateChanged += StateChanged;
    }

    private async Task OnShowOffcanvasClick()
    {
        await offcanvas?.ShowAsync()!;
    }

    private async Task OnHideOffcanvasClick()
    {
        await offcanvas?.HideAsync()!;
    }

    private void StateChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        _AppState.StateChanged -= StateChanged;
    }
}